.service 
{
border: 1px solid #000;
border-radius: 2px;
padding: 5px 10px;
margin-right: 3px;
display: inline-block;
margin-bottom: 10px;
}
.service:hover { cursor: pointer; }

.bxslider li { left: -25px;}

.bxslider img { display: block; margin: 0 auto;}
