/* CSS Document */

*, html { margin: 0; padding: 0; }

.center { width: 900px; margin: 0 auto; }

body { font-family: Verdana, Geneva, sans-serif; padding:0; }

#header { overflow: auto; margin-top: 20px; margin-bottom: 30px; }
#content { font-size: 12px; overflow: auto; }


div.projects { overflow: auto }
div.projects div.project {
	height: auto; 
	border-bottom: 1px solid #CCC;
	overflow: auto;
}

.projects div.project h2 {  
font-weight: 500;
font-size: 2.2em;
margin-bottom: 10px;
padding-top: 9px;
color: #5f5f5f;
text-transform: uppercase;
height: 35px;
display: block;
line-height: 1.1em;
}

.projects div.project p {  
font-size: 1.4em;
line-height: 1.4em;
font-weight: 400;
margin-bottom: 15px;
letter-spacing: .1em;
}

.projects div.project p.short { font-weight: 300; width: 45%;}
.projects div.project p.hidden { display: none; }

div.projects div.loadmore {
height: 50px;
border-bottom: none;
padding-bottom: 10px;
margin-top: 25px;
background: none;
}

div.projects div.loadmore a { text-align: center; display: block; font-style: italic; }
div.projects div.loadmore a:hover { font-style: normal; }
